#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 20%; /* Full-width */
    height: 76%; /* Full-width */
    font-size: 17px; /* Increase font-size */
    padding: 8px 20px 8px 40px; /* Add some padding */
    border: 2px solid black; /* Add a grey border */
    margin-bottom: 8px; /* Add some space below the input */
    float:right;
    color:blue;
  }

  #recherche {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    height: 66%; /* Full-width */
    font-size: 17px; /* Increase font-size */
    border: 2px solid black; /* Add a grey border */
    margin-bottom: 8px; /* Add some space below the input */
    color:rgb(10, 10, 10);
  }


  table{
    border-collapse: collapse;
    width: 400px;
  }
  th, td{
    border: 1px solid #727171;
    padding: 10px;
    vertical-align: top;
  }